[2019-12-16 04:07] syamat opened #5 "Connecting to opendistro from Apache Superset throws SQL parse exception"
The following error is thrown while creating a new Database connection on  Open Distro 1.2.0 after installing opendistro plugin using "pip install elasticsearch-dbapi[aws]".
The connection string I gave is "odelasticsearch+http://localhost:9200/"
*Incoming request /_opendistro/_sql/?format=csv: SELECT 1
[2019-12-16T09:30:14,137][ERROR][c.a.o.s.p.RestSqlAction  ] [ATVDI] 77d855ee-1f9e-411c-a79f-464

[2019-12-18 18:12] dpgaspar commented on #5
Hi @syamat,

Are you doing `SELECT 1` ? does it work with other type's of select statements?

[2019-12-19 07:20] syamat commented on #5
No, I just clicked the "Test Connection" button while creating a "Database"in Superset that connects to a OD instance. Screenshot is attached.
![Screenshot at 2019-12-19 12-46-50](https://user-images.githubusercontent.com/10418735/71152996-fbcc6200-225d-11ea-9629-4ddcbebaafad.png)

[2019-12-19 07:22] syamat commented on #5
It seems the issue is only which clicking the Test Connection, the connection works in SQL Lab when query.

[2019-12-19 16:32] dpgaspar commented on #5
Yes exactly. Yet, I'll implement a `select 1` proxy for it

[2019-12-20 13:45] syamat opened #6 "OpenDistro - Index with nested columns throwing errors while exporting as Table Visualization"
Index with nested columns throwing errors while exporting as Table Visualization. The data is shown correctly in SQL Lab.

:POST http://localhost:9200/_opendistro/_sql/?format=csv [status:N/A request:10.012s]
Traceback (most recent call last):
  File "/usr/local/AT_Dev_Env/AmritaTech/apache-superset/master/incubator-superset/venv/lib/python3.6/site-packages/urllib3/connectionpool.py", line 387, in

[2019-12-20 13:45] syamat commented on #6
![OpenDistro_Superset_Error_3](https://user-images.githubusercontent.com/10418735/71258839-23562400-235d-11ea-9d00-9511bde9bbd9.png)

[2019-12-21 05:09] syamat opened #7 "Elasticsearch - Apache Superset not connecting to OSS version of ES."
Apache Superset not connecting to OSS version of ES. Using ES v 7.5

ERROR: {"error": "Connection failed!\n\nThe error message returned was:\nTransportError(405, 'Incorrect HTTP method for uri [/_sql/] and method [POST], allowed: [GET, PUT, DELETE, HEAD]', 'Incorrect HTTP method for uri [/_sql/] and method [POST], allowed: [GET, PUT, DELETE, HEAD]')", "stacktrace": "Traceback (most recent call las

[2019-12-21 16:23] dpgaspar commented on #7
Hi @syamat,

Are you trying to use the `elasticsearch` driver with the elasticsearch opendistro version?

If yes, it will not work they use different endpoints for SQL and their responses are different

[2019-12-21 16:24] dpgaspar commented on #6
@syamat, sorry but opendistro is not fully supported yet, charts won't work

[2019-12-27 06:53] syamat commented on #7
No, I have connected ES 7.5 OSS version only. Please see the screenshot
![ES_7 5_OSS](https://user-images.githubusercontent.com/10418735/71505501-6e16f500-28a3-11ea-9fc2-9d371b98fb9a.png)
![ES_7 5_OSS_Superset_Error](https://user-images.githubusercontent.com/10418735/71505551-9d2d6680-28a3-11ea-8229-078b089b6003.png)

[2020-01-07 08:29] FlightSong opened #10 "Offset is not supported"
Offset is not supported，when sqlexp include "limit 10 offset 10" ,get error

[2020-01-07 09:35] dpgaspar commented on #10
`OFFSET` is not implemented on elasticsearch: https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-syntax-select.html

[2020-02-27 21:03] viswanathvs1981 opened #11 "NoSuchModuleError: Can't load plugin"
Hi,

I am consistently getting an error after following the installation steps when i try to test the connection from superset.

ERROR: {"error": "Connection failed!\n\nThe error message returned was:\nCan't load plugin: sqlalchemy.dialects:elasticsearch.https",

We are leveraging the aws elasticsearch service and the sqlalchemy url we are trying to hit is
elasticsearch+https://elastic:changeme@se

[2020-03-02 05:57] viswanathvs1981 commented on #11
@dpgaspar
Hi,
Although i was able resolve the above issue i am now consistently getting an access denied exception when trying to connect to aws elasticsearch service. The service is temporarily public to test connectivity .
Appreciate all your help in this regard.

The url format in superset and error details are below
elasticsearch+https://search-yyyyyyyyyyyyyyyyyyyyyyyyy.us-uuuuu-1.es.amazonaws

[2020-03-02 10:58] dpgaspar commented on #11
Hi @viswanathvs1981,

Very limited support for AWS ES you will not be able to perform most of superset features, AWS auth is not supported

[2020-03-02 10:58] #11 closed

[2020-03-11 16:38] akki opened #12 "Schedule for next release"
Hi

I was trying to use your library when trying to setup Superset to be used with Elasticsearch.
I found that using the URL `elasticsearch+http://localhost:9200` did not work for me with the latest version of the library.

This is the stack trace:
[code]

I see that the error doesn't happen with your current `master` branch (was fixed in https://github.com/preset-io/elasticsearch-dbapi/commit/9af

[2020-03-11 17:16] akki opened #13 "Able to connect but not query Elasticsearch from Superset"
Hi

I am able to add Elasticsearch as a data source in Superset and the "test connection" works for me.

But when I try to query my data in the SQL Lab of Superset's UI, it gives me error `This is a readonly dbapi commit is not supported`. I am running the SELECT query - `SELECT * FROM children_test;` (please note that I am not running any commits).

Also, it doesn't show anything when I try to vi

[2020-03-11 17:20] akki commented on #12
I had installed this library using `pip install elasticsearch-dbapi` when I hit this issue/bug.

[2020-03-11 17:25] willbarrett commented on #12
Hi @akki - we're working on cutting the `0.36` release now, but we've hit a few roadblocks. Don't quote me on this, but I imagine it will be out in the next week barring any further complications. If you want to follow along, the `apache-releases` channel in the Superset Slack workspace is a great place to look.

[2020-03-11 17:26] willbarrett commented on #13
This looks like a question for @dpgaspar or @villebro .

[2020-03-12 04:42] akki commented on #12
Is it https://superset.slack.com?

Seems like I cannot join it 🤔 (says "if you have `@superset.io` email, you can create an account" and my existing Slack credentials don't work).

Anyways, I'll close this issue since I now know the right place for this question. Thanks for the quick reply!

[2020-03-12 04:42] #12 closed

[2020-03-12 15:19] willbarrett commented on #12
@akki `apache-superset.slack.com` is what you're looking for. Here's the link to join provided in the README: https://join.slack.com/t/apache-superset/shared_invite/enQtNDMxMDY5NjM4MDU0LWJmOTcxYjlhZTRhYmEyYTMzOWYxOWEwMjcwZDZiNWRiNDY2NDUwNzcwMDFhNzE1ZmMxZTZlZWY0ZTQ2MzMyNTU

[2020-03-14 09:46] akki commented on #13
I found the origin of the problem. It's pretty simple actually:

[Apache-Superset](https://github.com/apache/incubator-superset/) commits to the database on [this line](https://github.com/apache/incubator-superset/blob/f6f40c815a9ed962d5bbbf9dd4fb357479bd3677/superset/sql_lab.py#L389).
Which calls [this line](https://github.com/preset-io/elasticsearch-dbapi/blob/9aff5e4f6459fba4ea9cc244196f792b5ff

[2020-03-14 21:19] dpgaspar commented on #13
Hi @akki,

Good troubleshooting, or change on superset on simply ignore commit's on elasticsearch dbapi, since they don't make sense on elasticsearch.

[2020-03-15 04:52] akki commented on #13
@dpgaspar Thanks for your suggestion.

As far as I looked into the Superset code I did not see any custom logic written for particular databases, at least not in this part of the code of superset. So I don't think it would be possible (or at least easy to add a logic saying "if it is es, then ignore it"). I did not have too deep dives into the code though, so I might be missing something here.

Al

[2020-03-15 07:29] villebro commented on #13
@akki I tend to agree with your assessment of just passing on `commit()`. If not we could also add an engine parameter to explicitly ignore commit errors, but that feels slightly overkill, and best stated explicitly in the documentation. @dpgaspar do you agree?

[2020-03-15 09:47] dpgaspar commented on #13
Agree @villebro

[2020-03-15 10:00] #10 closed

[2020-03-15 10:12] dpgaspar commented on #7
Can you make the following test and post the result:
[code]

[2020-03-15 10:18] akki commented on #13
Okay, created a PR - https://github.com/preset-io/elasticsearch-dbapi/pull/16

[2020-03-16 01:53] alariver opened #19 "Superset cannot fetch table(index) metadata..."
A clear and concise description of what the bug is.

### Expected results

After add elasticsearch(7.4.0) as datasource, there is one index kibana_sample_data_flights in it,and superset can find it. when the index(or table) kibana_sample_data_flights was selected, the table metadata should be fetched.

### Actual results

An error occured when fetch table metadata...

#### Screenshots

If applicab

[2020-03-16 10:11] dpgaspar commented on #19
Hi,

Thank you for migrating the issue, please post the output from `pip freeze`, and the output from `curl -X GET http://localhost:9200/kibana_sample_data_flights`

[2020-03-16 14:45] dpgaspar commented on #13
The fix is out now, checkout elasticsearch-dbapi 0.1.1

Thank you for reporting this and the PR ;) opensource FTW

[2020-03-16 14:45] #13 closed

[2020-03-18 08:09] alariver commented on #19
Hi,

## pip freeze
[code]
## elasticsearch version
I have reproduce the issure with Elasticsearch 7.4.0 and 7.6.1
## python call stack
When I do "sources" -> "tables" -> "add new..." in superset, I can got these python call stack output:
[code]

[2020-03-18 08:15] alariver commented on #19
curl -X output:

[code]

[2020-03-18 19:36] akki opened #20 "Unable to make time-series charts in Apache Superset"
Hi

I am trying to build time-series visualisation in Apache Superset but unable to do so.

Below is the screenshot of the error that I get.
<img width="1571" alt="Explore_-_Superset_Admin-Query_public_children_test-FdtlPJnQH" src="https://user-images.githubusercontent.com/4801628/76999546-612d0d80-6989-11ea-8a0a-b7501116f6e0.png">

Here is the stack trace of the error that I get:
[code]

On a bit

[2020-03-19 02:42] alariver commented on #19
I don't know pretty much about sqlalchemy , I have traced the python code:
1. In es/basesqlalchemy.py
   the get_columns(...) function have a comment `A bit of an hack this cmd does not exist on ES`, I changed the code to use "SHOW COLUMNS FROM" , not previous "SHOW ARRAY_COLUMNS FROM" call, after this changed, Elasticsearch Request error (400) disappear.
2. sqlalchemy/engine/reflection.py
  After

[2020-03-19 08:26] alariver commented on #19
I made some test using Usage examples with elasticsearch-dbapi directly , bypass Superset...
The last two examples was failed just like in Superset.
## Using SQLAlchemy:
[code]
error stack :
[code]
## Using SQLAlchemy reflection:
[code]
error stack:
[code]

So, I don't know what happened, but elasticsearch-dbapi call reflection about just failed.

[2020-03-20 11:53] villebro commented on #20
@akki can you post a screenshot of your datasource schema? I'm specifically interested in what types of temporal columns you have (`DATETIME` or similar).

[2020-03-22 06:45] alariver opened #21 "Unit Test Failed all"
## Using docker-composer.yml in repository( using docker run Elasticsearch 7.3.2), Unit test failed...
[code]
## pip freeze
[code]

[2020-03-22 16:39] akki commented on #20
Hi @villebro Thanks for looking into this.

Probably a very novice question but can you please tell me how I can find the "datasource schema"?
Right now, what I can see is that the "Time Column" dropdown shows me 0 options (also can be seen in the pic I shared).

[2020-03-22 17:29] akki commented on #20
Also, not sure if this is related but I am not able to create the table from the `/tablemodelview/add` webpage UI.

I get the following error:
[code]
where I have changed my table name with `XXXX`.

The full stack trace is as follows:
[code]

[2020-03-22 17:51] villebro commented on #20
@akki  click on the datasource, choose "Edit datasource" and click "Columns". There you should see at least one column with "Is Temporal" checked.

With regards to adding the table, are you sure you've specified the correct schema and table name exactly like they are displayed under SQL Lab?

[2020-03-22 18:22] blcksrx opened #22 "Support insert operations"

[2020-03-23 14:44] playerla commented on #19
I have met the same problem with a fresh install of elastic 7.6.1. Following the example usage but with **autoreload** set to **False** I make the stuff work for the count example (I get my total count of two indexed documents). But then get the same error at :
[code]
[code]

[2020-03-23 15:48] dpgaspar commented on #19
Hi,

Thank you all the feedback, I'm able to replicate the error using elasticsearch 7.5.1

[2020-03-23 15:58] dpgaspar commented on #20
@akki this may be related to #19, downgrade your `elasticsearch` python pkg to 7.1.0 and retest.

[2020-03-23 16:01] dpgaspar commented on #21
Use the same `elasticsearch` from this repo requirements.txt or version 7.1.0

[2020-03-23 16:21] alariver commented on #21
Got it!
`pip install elasticsearch-dbapi` cause the elasticsearch 7.6.0 was installed.

[2020-03-23 16:21] #21 closed

[2020-03-23 16:23] #19 closed

[2020-03-24 11:38] dpgaspar commented on #19
Released elasticsearch-dbapi version 0.1.2, now you can use a newer elasticsearch version without issues

[2020-03-24 11:39] dpgaspar commented on #21
Released elasticsearch-dbapi version 0.1.2, now you can use a newer elasticsearch version without issues

[2020-03-24 19:16] akki commented on #20
Hi @villebro & @dpgaspar Thank you for your suggestions.

I was able to mark my field as "Is Temporal" by using the "Edit datasource" feature.

I got another error after that - "search_phase_execution_exception): all shards failed".
Full stacktrace:
[code]
Here
`2013-03-24 00:00:00.000000` is the lower bound of the filter that I had applied to timestamp from the Superset UI. It is basically expect

[2020-03-24 19:35] villebro commented on #20
@akki can you check the datatype of your `timestamp` column? The fact that you had to manuaöly make it temporal sounds strange.

[2020-03-26 09:33] akki commented on #20
This is from the mapping of my index:
[code]
The `type` is `date`.

If Superset can detect these fields automatically, that would be a good addition.

[2020-03-26 14:44] dpgaspar commented on #20
@akki

Can't you post the output from:
[code]

[2020-03-26 17:30] akki commented on #20
@dpgaspar Sure, I can. :)

Here is the output:
[code]

[2020-03-27 00:30] dpgaspar commented on #20
Thanks @akki, `prediction_datetime` and `timestamp` should be recognized has DATETIME, can you verify on SQLLab they are identified has such? If yes can you recreate the table?

[2020-03-27 06:45] akki commented on #20
Can you tell me how I can verify that?

Also, I would like to re-mention the fact that **I am not able to create the table from the /tablemodelview/add webpage UI** if that was missed earlier.

[2020-03-27 09:25] dpgaspar commented on #22
Hi @blcksrx,

Not on the road map, we rely on the readonly Elasticsearch endpoint for SQL.

[2020-03-28 06:18] dpgaspar commented on #20
The table problem, should be fixed by downgrading elasticsearch (python pkg) to 7.1.0, or by upgrading this pkg to 0.1.3, can you confirm that?

[2020-03-28 18:01] akki commented on #20
Yeah, I don't get that error when using the current latest version of `elasticsearch-dbapi` installed with pip. And now it also auto-detected the `datetime` fields.

So, now I can create my time-series chart, given that I explicitly create a mapping with allowing this format for my datetime fields `yyyy-MM-dd'T'hh:mm:ss'Z'`.

IMO Superset should send things as `epoch_millis` if it really wants to

[2020-04-22 15:44] jhonnymadera opened #25 "Opendistro : Create table from apache superset"
Table [logicaghl_sigeco_roomsales] could not be found, please double check your database connection, schema, and table name, error: (es.exceptions.ProgrammingError) Table "logicaghl_sigeco_roomsales" not found [SQL: SHOW COLUMNS FROM "logicaghl_sigeco_roomsales"] (Background on this error at: http://sqlalche.me/e/f405)

[2020-05-05 06:38] #22 closed

[2020-05-12 03:40] ankur-vyas14 opened #27 "Elasticsearch query return the {e} in result"
I am able to connect the Elasticsearch with the Apache Superset and it also shows the the table in the left panel. But when I am trying to fire the query on the table it returns the {e} as a result.

Environment
superset version: 0.36.0
python version: 3.7
elasticsearch version: 7.6.2
elasticsearch-dbapi: 0.1.2

![es-error](https://user-images.githubusercontent.com/41239909/81635997-52665280-9430-

[2020-05-12 09:24] dpgaspar commented on #27
@ankur-vyas14, thks for opening this here, will try to reproduce this now. Can you add your server logs?

[2020-05-12 09:40] dpgaspar commented on #27
Wasn't able to reproduce it yet, tried a bunch of queries that fail but the error message looks good:

<img width="1200" alt="Screenshot 2020-05-12 at 10 37 44" src="https://user-images.githubusercontent.com/4025227/81668707-f6ee9180-943c-11ea-935b-807499c9943a.png">

Post the server logs when the error occurs, please

[2020-05-12 10:47] ankur-vyas14 commented on #27
Hey @dpgaspar Thanks for your advice for looking into log. There is one module error after fixing that query seems to work.
![es-working-query](https://user-images.githubusercontent.com/41239909/81674902-8f9c0600-946b-11ea-82c1-d156b4863d96.PNG)

Just a question here is **SELECT * FROM TABLE** statement is not supported in elastic search? Because when we provide the column name query seems to work

[2020-05-15 04:53] dpgaspar commented on #27
`SELECT *` is supported by elasticsearch, the problem is related with an array type column. note that not all columns are selected on the column name query

[2020-05-15 04:53] #27 closed

[2020-06-15 17:49] markharding commented on #25
Same issue with AWS ES 7.4.

[code]

[2020-06-15 19:36] markharding commented on #5
@dpgaspar is there a work around for this?
I am currently still getting (open distro AWS 7.4)
[code]

[2020-07-15 18:33] igorpereirabr1 opened #29 "Opendistro: Authentication"
Hey Guys.. I'm to try connect the Apache Superset at my Opendistro cluster, But I'm not to sure how to include the user and password here: odelasticsearch+https://search-SOME-CLUSTER.us-west-2.es.amazonaws.com:443/

Any idea?

[2020-07-31 09:31] vinograt commented on #7
got the same error:
[code]

[2020-07-31 09:35] vinograt commented on #7
What version should be used?

[2020-08-03 16:30] willbarrett commented on #29
Hi @igorpereirabr1 - let me take a look and get back to you.

[2020-08-03 16:34] igorpereirabr1 commented on #29
Thanks bufou!

[2020-08-18 00:18] bawantha commented on #7
any solutions ???

[2020-09-02 15:29] dpgaspar commented on #29
Note: Open distro is not well supported, but for basic Auth should be: `odelasticsearch+https://<USER>:<PASSWORD>@search-SOME-CLUSTER.us-west-2.es.amazonaws.com:443/`

[2020-09-04 01:25] dioptre commented on #7
+1

[2020-09-04 02:37] igorpereirabr1 commented on #29
Thanks! I'll test!

[2020-09-04 17:16] dioptre commented on #7
Turns out you need to install the SQL plugin (but wasn't working for 6.8.4 for me). https://github.com/NLPchina/elasticsearch-sql/ mentions x-pack-sql and opendistro
https://opendistro.github.io/for-elasticsearch-docs/docs/sql/

[2020-09-15 23:11] dioptre opened #31 "Opendistro not working with Superset"
I'm trying to get superset working with dbapi.

This works:
[code]

This also works:
[code]

When I run `select eid from events_recent` it fails in superset (the SqlAlchemy URI is `odelasticsearch+http://cassandra4:9200`):
[code]

Wonder if you might know what's going on?

Thanks heaps!
Andrew

[2020-09-22 17:45] dpgaspar commented on #31
Opendistro is not fully supported, yet the query your mentioning should work, so superset is changing the base query on SQLLab probably setting a LIMIT on it.

But anyway has I said Opendistro is not supported yet, and you will encounter more issues around it on superset mainly related with aggregations

[2020-09-22 21:09] dioptre commented on #31
I don't think that's the error, as noted above the **limit 1** is used successfully, and its also used in superset but fails:
![Screen Shot 2020-09-22 at 2 04 11 PM](https://user-images.githubusercontent.com/760216/93937443-a9ccd700-fcdc-11ea-949d-a7a25268a371.png)

I'm not familiar with the codebase, but what's required to just get a **select** working? I'd help if you could point me in the right

[2020-09-24 13:26] NavaneethanPS opened #33 "Superset to Elasticsearch connection error"
Hi,

After executing **pip install elasticsearch-dbapi**, I tried connecting from **Apache Superset to Elasticsearch database,** where I got the below error:
_ERROR: {"error": "Connection failed!\n\nThe error message returned was:\nCan't load plugin: sqlalchemy.dialects:elasticsearch.http", "stacktrace": null}._

Couldn't able to figure out the reason for the error.

Could you please help to solve

[2020-09-28 09:35] changesforme commented on #33
https://superset.apache.org/docs/databases/elasticsearch

[2020-09-28 09:36] changesforme commented on #33
But I met a new mistake，
error：
Miniconda3/envs/superset/lib/python3.6/site-packages/es/baseapi.py", line 224, in elastic_query
    f"Error ({e.error}): {e.info['error']['reason']}"
TypeError: 'NoneType' object is not subscriptable

[2020-09-28 13:10] NavaneethanPS commented on #33
Thanks for responding to my issues.

As I mentioned in my earlier post, I had already executed **pip install elasticsearch-dbapi** and when I tried to connect from Apache Superset, getting the below error in Apache Superset:
ERROR: {"error": "Connection failed!\n\nThe error message returned was:\nCan't load plugin: sqlalchemy.dialects:elasticsearch.http", "stacktrace": null}

Can anyone please hel

[2020-09-30 03:20] changesforme commented on #33
Did you make the connection?

| |
13311252087
|
|
13311252087@163.com
|
签名由网易邮箱大师定制
On 9/28/2020 21:10，NavaneethanPS<notifications@github.com> wrote：

Thanks for responding to my issues.

As I mentioned in my earlier post, I had already executed pip install elasticsearch-dbapi and when I tried to connect from Apache Superset, getting the below error in Apache Superset:
ERROR: {"error": "Connection

[2020-09-30 08:06] NavaneethanPS commented on #33
No, Still getting the same error. Not sure of the reason for the connection failure as the error message is not clear and descriptive to find the cause of the connection error from Superset to Elasticsearch.

[2020-09-30 09:06] changesforme commented on #33
“
        pip install elasticsearch
        pip install elasticsearch-dbapi
”

You need to install both packages first，After installation，will not "sqlalchemy.dialects:elasticsearch.http".

That's the mistake I've come across now

I'm judging now because the ES server has no SQL plug-in installed,

Plans are under way to install an SQL plug-in for ES,

I'm going on vacation,

But I'll see you in e

[2020-09-30 22:13] dioptre commented on #31
@dpgaspar any thoughts mate?

Would love to get anything working...

[2020-10-07 10:23] #20 closed

[2020-10-14 01:45] dioptre commented on #31
Anyone?

[2020-10-15 10:37] chen-ABC opened #35 "elasticsearch connect error"
error log:
![image](https://user-images.githubusercontent.com/30097790/96112604-79600d80-0f15-11eb-802c-e408453772d1.png)

How should I connect es correctly?

Environment
(please complete the following information):

superset version: 0.37.0
python version: 3.7.9
node.js version: 12.18.3
npm version: 6.14.6

[2020-10-16 01:10] #35 closed

[2020-11-08 10:17] imranmasood opened #36 "NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:elasticsearch.http"
I am trying to connect to Elasticsearch using SQLAlchemy and I get this error

connection_es=create_engine("elasticsearch+http://elastic:changeme@localhost:9200/")

---------------------------------------------------------------------------
NoSuchModuleError                         Traceback (most recent call last)
<ipython-input-31-d4a9c45e7426> in <module>
      2 ## format of connection string

[2020-11-20 12:21] dpgaspar commented on #36
That's strange, but can't reproduce

On a new environment:
[code]

[code]

[2020-12-16 15:23] Alexander-N opened #38 "get_array_type_columns fails for index without records"
For an index (table) which contains no records the following code will break with `IndexError` which is not catched:

https://github.com/preset-io/elasticsearch-dbapi/blob/646606fcfb3415631051e4063c5a7b853821a8b4/es/elastic/api.py#L168-L173

This means that if there exists any empty index, then the `IndexError` will be thrown when calling
[code]

[2021-01-04 10:21] #36 closed

[2021-01-04 10:21] #33 closed

[2021-01-05 09:03] #38 closed

[2021-01-07 16:51] dpgaspar commented on #31
Sorry for the delay, that's certainly weird @anirudha can you offer some help?

btw have you tried:
[code]

[2021-01-12 00:37] dioptre commented on #31
Hi @dpgaspar as I mentioned above, the **limit 1** works, just more rows don't.

[2021-01-12 16:18] Alexander-N opened #43 "Changes in `get_table_names` cause performance hit"
Thanks a lot for fixing #38, I really appreciate the active maintenance of this project!

Unfortunately, this [ change ](https://github.com/preset-io/elasticsearch-dbapi/commit/8c1bb376b3e0c337fc4e1a68a9aaababc8011db6#diff-fd49e674d6b336bf0ffa19f87bf93f3432534014f06c66aeb8098498082b3dd5)  to `get_table_names` which seems unrelated to fixing #38 degrades the performance a lot since the calls of `ge

[2021-01-12 16:24] dpgaspar commented on #43
ok, thank you for reporting. I'll fix it ASAP

[2021-01-13 11:45] dpgaspar commented on #43
Made an initial quick fix (trying not to revert). Would be great if you could test it @Alexander-N

[2021-01-13 23:27] dai-chen commented on #5
@dpgaspar FYI, We've been currently working on a new query engine for ODFE SQL plugin with many improvements. This issue is already fixed in PR: https://github.com/opendistro-for-elasticsearch/sql/pull/542. The new engine is experimental and disabled by default. You can follow the instruction here to preview: https://github.com/opendistro-for-elasticsearch/sql#experimental

[2021-01-13 23:30] dai-chen commented on #31
@dpgaspar I'm a developer of ODFE SQL plugin. I can help here. Could you capture and share the request sent to SQL plugin? Or show me how to reproduce the issue? It'd also be helpful if your index mapping can be shared. Thanks!

[2021-01-19 15:11] #29 closed

[2021-01-21 11:04] #31 closed

[2021-01-25 15:13] dpgaspar commented on #43
A fix is already on master, can you test it please?

[2021-01-26 08:05] Alexander-N commented on #43
Works fine, thanks @dpgaspar!

[2021-01-26 08:05] #43 closed

[2021-02-08 18:37] dpgaspar commented on #5
This is supported on 0.2.0 released today

[2021-02-08 18:37] #5 closed

[2021-02-08 19:13] dai-chen commented on #6
@dpgaspar FYI, ODFE 1.13 release is coming soon with new SQL query engine turned on. Here is the doc: https://github.com/opendistro-for-elasticsearch/sql/blob/develop/docs/dev/NewSQLEngine.md. Feel free to reach out to us if any question. We can also schedule meeting if needed. Thanks!

[2021-02-09 03:07] syamat commented on #6
Hi @dai-chen

Will the new engine support nested fields? If not, will it fall-back to old engine in case a nested field is queried using the new SQL engine.

[2021-02-11 10:05] dpgaspar commented on #25
A new version is out `0.2.0`, that brings much better support for opendistro. You can test this problem against it.
Going to close this issue, feel free to reopen if the problem persists

[2021-02-11 10:05] #25 closed

[2021-02-11 10:06] #7 closed

[2021-03-11 15:59] Alexander-N opened #52 "Reflection of table names fails for new releases"
The tables collection of the `MetaData` object is empty after updating elasticsearch-dbapi. It seems like the regression was introduced with https://github.com/preset-io/elasticsearch-dbapi/commit/654dcd3e8c435cf039df690ea66cc7202da8bbe7 where the following code fails:

[code]

It does not fail at https://github.com/preset-io/elasticsearch-dbapi/commit/916d1ded21224c5d8d9ebdff9466c76325b02001.

[2021-03-22 13:11] dpgaspar commented on #52
Hi @Alexander-N is this with opendistro or elasticsearch, can you post the stack trace?

[2021-03-22 13:22] Alexander-N commented on #52
This is with elasticsearch. `meta.tables` is just empty so there is no error other than the failed assertion.

[2021-03-22 13:27] dpgaspar commented on #52
no errors?

Did a quick test with:
[code]
Using repo's docker-compose and I get no errors, again is this opendistro or elasticsearch? can you share your index schema?

[2021-03-22 14:06] Alexander-N commented on #52
Could it be related to aliases? I have for example indices like `sales_master_2021-03-22_05-27-09` but only access them with aliases, for example `sales_master`.

[2021-03-22 14:16] dpgaspar commented on #52
if you connection user does not have access to `sales_master_2021-03-22_05-27-09` it could explain it, or if the index is empty

[code]

[2021-03-23 10:15] Alexander-N commented on #52
That was the problem, thanks! Since the views and tables were split in https://github.com/preset-io/elasticsearch-dbapi/commit/654dcd3e8c435cf039df690ea66cc7202da8bbe7 `meta.tables` is now empty for me unless I use `views=True` option in
[code]
.

[2021-03-23 10:27] dpgaspar commented on #52
Thank you for double checking!

[2021-03-23 15:33] Alexander-N commented on #52
Closed it a bit too early. Now I get all views, but still not the tables. The reason seems to be that the type in `result[1]` is `TABLE` instead of `BASE TABLE` in my case (elasticsearch version 7.11.1).

https://github.com/preset-io/elasticsearch-dbapi/blob/654dcd3e8c435cf039df690ea66cc7202da8bbe7/es/elastic/api.py#L89-L115

[2021-03-23 15:41] dpgaspar commented on #52
I run my tests on ES 7.3 let me check if that changed

[2021-03-23 16:42] dpgaspar commented on #52
Just confirmed it changed on 7.10.X, I'll make a solution for it

[2021-03-24 03:01] syamat commented on #6
With this issue be resolved with the next release?

[2021-03-24 16:17] dai-chen commented on #6
The new engine only supports object fields in ODFE 1.13. The nested field query will fall back to old engine.Please find more details here: https://github.com/opendistro-for-elasticsearch/sql/blob/develop/docs/user/beyond/partiql.rst#querying-nested-tuple-values. We will add support for nested fields in future release. Thanks!

[2021-04-16 08:30] dscaravaggi opened #53 "question: cluster connection pool"
Just for info,
do you plan to add support for connecting a set of node into elastic cluster ?

[2021-04-20 14:34] dpgaspar commented on #52
@Alexander-N support for elasticsearch > 7.10 is merged on master. 0.2.2 will be out soon

[2021-04-20 15:19] dpgaspar commented on #52
ok it's out now, going to close this issue, thank you again for reporting and helping on troubleshooting

[2021-04-20 15:19] #52 closed

[2021-04-20 17:19] xylar opened #56 "packaging missing from requirements?"
In the conda-forge build, I'm seeing:
[code]

It looks like this import was added 3 hours ago.  Is `packaging` now a requirement, and did this get missed from `setup.py`?

[2021-04-20 17:22] xylar commented on #56
https://github.com/conda-forge/elasticsearch-dbapi-feedstock/pull/3

[2021-04-20 18:04] dpgaspar commented on #56
@xylar thanks for reporting this a fix is on the way

[2021-04-20 18:37] dpgaspar commented on #56
ok 0.2.3 is out, can you re check it?

[2021-04-20 19:09] #56 closed

[2021-04-21 06:55] Alexander-N commented on #52
Works fine, thanks @dpgaspar!

[2021-04-23 10:37] shashankkoppar opened #59 "elastic db api not working in superset"
There are no tables in option when i select elasticsearch dataset
![Screenshot 2021-04-23 at 12 35 46](https://user-images.githubusercontent.com/14154688/115859462-87e13180-a430-11eb-9865-a8d61a1406cf.png)

I saw this error as well
[code]

Superset version: 0.38.0
Elastic search version: 7.8.0
elastic-db-api version: 0.2.3

Any leads will be really helpful. We are facing this issue since we upgrad

[2021-04-23 10:38] shashankkoppar commented on #59
@dpgaspar , Would appreciate if you take a look and see whats going wrong?

[2021-04-25 19:33] dpgaspar commented on #59
Is this elasticsearch or AWS opendistro?

[2021-04-25 19:45] shashankkoppar commented on #59
its elastic search running on google cloud vms

[2021-04-26 13:25] dpgaspar commented on #59
ok, and this occurred after upgrading your elasticsearch cluster not the dbapi, right?

[2021-04-26 13:56] shashankkoppar commented on #59
yes true, after we upgraded our elastic search from 6.8.0, we are not able to connect to it.

[2021-04-28 03:02] wwwDengJXcom opened #61 "Elasticsearch-dbapi does not support Elasticsearch 6.8 and only supports 7.x or above？"
Just like the title，Looking forward to your reply，thank

[2021-04-28 09:18] dpgaspar commented on #61
It's tested with elasticsearch 7.3.2. May work with 6.8 if there's a SQL endpoint already (not officially supported)

[2021-04-28 09:23] wwwDengJXcom commented on #61
I see, thanks for your reply

[2021-04-28 09:29] dpgaspar commented on #61
np, thanks for reaching out. Closing this now

[2021-04-28 09:29] #61 closed

[2021-04-28 09:34] syamat commented on #6
Is this issue fixed with the new release?

[2021-04-30 14:15] dpgaspar commented on #59
@shashankkoppar I was able to reproduce, so if you create an index with an array (assuming that your index has some array type fields):

[code]

Then if you issue a SQL query on the elasticsearch endpoint, example:
[code]

You get:
[code]

So, it's actually an Elasticsearch limitation, arrays are not supported for SQL queries, you can still use the index by selecting non array columns:

[code]

Or

[2021-05-03 08:11] shashankkoppar commented on #59
Hey thanks for checking @dpgaspar. I checked and it works fine for non array columns in Superset SQL query as well. But only issue now is it is not able list tables there when you select elastic-search as database and not possible to add any datasets. Do you do any kind of tests if db-api works properly in superset though? :D

[2021-05-26 14:58] syamat opened #63 "Run query in opendistro with apache-superset's logged in user privliges"
I have configured some Document Level Security based on the user which accesses the data. Is it possible to run a query on ODE using the same user as the one logged into the apache-superset even though the connection string uses "admin" user to connect to the ODE instance.?

[2021-05-28 14:04] dpgaspar commented on #63
@syamat good question, I think currently it's not possible (but not sure). This is a question for Apache Superset not the driver itself.

[2021-05-28 14:41] syamat commented on #63
No, it is not possible, I tried. We will have to create multiple database connection with the respective users and use that connection to get the result. So it seems opendistro uses the same user as the one in the connection url.

So should I go ahead and file a issue under Apache Superset ?

[2021-06-07 13:06] #63 closed

[2021-06-23 14:30] dpgaspar commented on #59
Closing this one, feel free to reopen

[2021-06-23 14:30] #59 closed

[2021-09-10 02:03] youngsol opened #68 "Support SQL query params in ES official document"
https://github.com/preset-io/elasticsearch-dbapi/blob/ea7a09370d537db88392d8bcadfc081ea05bef6b/es/baseapi.py#L311

do you plan to support additional params such as "time_zone" listed in this [official docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-search-api.html)?

In superset, you can query the data based on the timezone set in request body and this can be set via engi

[2021-09-16 20:29] nelson-lark opened #70 "Trouble connecting to AWS OpenSearch via Superset"
## Problem
In Superset, when adding a new aws elastecsearch (opensearch db), I am getting the following error when i go to test the connection:
[code]
## Settings
SQLALCHEMY URL
`odelasticsearch+https://vpc-some-search-domain.us-east-1.es.amazonaws.com:443/`

OpenSearch Auth Disabled:
Fine-grained access control: Disabled
SAML authentication: Disabled
Amazon Cognito for authentication: Disabled

#

[2021-09-23 22:05] nishantuniyal commented on #70
I have been getting the same error. Same settings and versions as @nelson-lark. Thank you for the help.

[2021-09-23 22:16] nelson-lark commented on #70
@nishantuniyal I found my own issue.  The official elasticsearch-py client no longer supports opensearch because of the licensing flamewar between AWS and Elastic.  If I downgraded via `pip install elasticsearch==7.13.4`, things started working again.  Maybe give that a try and see if it works for you.

[2021-09-23 22:25] nishantuniyal commented on #70
@nelson-lark thank you so much for the tip. It works for me too!

[2021-09-27 08:49] dpgaspar commented on #68
`fetch_size` already exists and `time_zone` is about to be merged: https://github.com/preset-io/elasticsearch-dbapi/pull/69

[2021-09-27 08:49] #68 closed

[2021-10-01 07:58] dpgaspar commented on #70
@nelson-lark I've pinned down elasticsearch API for now and released

[2021-10-01 07:58] #70 closed

[2021-11-04 23:06] harshgadhia commented on #70
@nelson-lark could you please provide the elasticsearch connection string that you had used in the SuperSet connection after downgrading to `elasticsearch==7.13.4 `

Also, what version of elasticsearch are you using? Is it AWS elasticsearch?

[2021-11-05 00:18] harshgadhia opened #74 "SuperSet errors with AWS Elasticsearch [Kibana version 6.8.0]"
Hello preset-io team,

I am facing some issues with using elasticsearch-dbapi version: 0.2.6.
I have described the issue in detail in the apache superset project too. [SuperSet errors with AWS Elasticsearch [Kibana version 6.8.0]](https://github.com/apache/superset/issues/17347)

### To summarize:
- Superset seems to be not able to parse the index metadata from AWS ES endpoint
- It cannot run a SQ

[2021-11-05 08:08] harshgadhia commented on #74
Please see [here](https://opendistro.github.io/for-elasticsearch-docs/docs/sql/protocol/#elasticsearch-dsl) for the response formats for the Elasticsearch SQL.

I am pretty certain that the second issue is happening because `?format=jdbc` is not set on the es endpoint at the end. This can be seen from the logs, that the library is hitting the main endpoint, and so the error is happening in parsing

[2021-11-05 08:54] harshgadhia commented on #74
In case you need the following:

#### pip freeze

[code]

[2021-11-05 12:17] dpgaspar commented on #74
Hi @harshgadhia,

What's your AWS OpenSearch (ElasticSearch) version? 6.8.0?

[2021-11-05 19:10] harshgadhia commented on #74
@dpgaspar Yes that is correct:

[code]

[2021-11-05 22:28] harshgadhia commented on #74
Here's the latest information I have:

The Opensearch (aka elasticsearch) has support to query SQL via the `_opendistro/_sql` endpoint since version >=6.5.
However, only after version >=7.4, the endpoint presumable sends response in jdfc format (that is what must be the assumption I guess, when [writing this](https://github.com/preset-io/elasticsearch-dbapi/blob/master/es/opendistro/api.py#L280-L2

[2021-11-10 18:08] harshgadhia commented on #74
@dpgaspar Did you get a chance to look at this? Really appreciate a response on the above. Thank you in advance!

[2021-11-10 21:07] dpgaspar commented on #74
sounds reasonable to me @harshgadhia are you willing to make a PR?
We can fetch current cluster version, or create a new connection string parameter

[2021-11-13 00:55] harshgadhia commented on #74
@dpgaspar sure, I can try looking into it, and send a PR your way!

[2021-11-24 19:39] shawnzhu opened #76 "dependency 'packaging' should be upgraded"
when installing superset with elasticsearch client via:

[code]

I got error message:

[code]

Then I found the dependency `packaging` installation is introduced by `bleach` (dependency of superset): https://github.com/apache/superset/blob/7353a2bd75ae5c76458615443f530a688e78db1c/setup.py#L68 where it doesn't lock down version:

https://github.com/mozilla/bleach/blob/a362171055af36996dc1cedb64c6b3

[2021-11-30 15:34] #76 closed

[2021-11-30 15:34] dpgaspar commented on #76
merged a fix, I'll release soon

[2021-11-30 16:07] shawnzhu commented on #76
@dpgaspar thank you!

[2022-01-20 19:02] netanel246 opened #79 "Add support for geo_shape"
Currently, the project has support only for geo_point.
It would be great to support also the [geo_shape](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-shape.html) type.

I would like to have a PR for that if you want. (as string datatype)

[2022-01-21 10:01] vincentytran opened #80 "Elastic Search 7.16.1 Superset 1.4 missing Tables for default schema"
In Superset 1.4.0 I'm connecting to Elastic Search 7.16.1 and I'm having trouble seeing any Tables show up in the list for the default schema. Is this because elasticsearch-dbapi doesn't support this latest release yet because pip says that elasticsearch-dbapi requires elasticsearch release < 7.14.0.

I went through many of the issues here and I even created a test index test_index_000001 with a s

[2022-01-25 08:58] frbenoit commented on #80
I have exactly the same problem with elasticsearch 7.16.2 and superset 1.3.1 and 1.3.2

[2022-02-01 18:40] dpgaspar commented on #79
That would be great @netanel246 !

[2022-02-01 18:43] dpgaspar commented on #80
Sorry for the delay, I'll troubleshoot this week

[2022-02-02 11:35] dpgaspar commented on #80
We have pinned elasticsearch-py here: https://github.com/preset-io/elasticsearch-dbapi/pull/71
Because on 7.14 Elastic broke compatibility with AWS elasticsearch now called Opensearch. Can you confirm this the type of Elasticsearch your using?

[2022-02-02 23:43] vincentytran commented on #80
The issue is with the official elastic search distribution.

[2022-02-04 18:23] dpgaspar commented on #80
@vincentytran I was able to replicate the problem, I'll work on a fix has soon has possible

[2022-02-10 17:37] xylar opened #83 "`six` not listed in package install requirements"
On the conda-forge build of the latest release, we're seeing:
[code]

See:
https://github.com/conda-forge/elasticsearch-dbapi-feedstock/pull/9

`six` is not listed under `install_requires`:
https://github.com/preset-io/elasticsearch-dbapi/blob/0.2.8/setup.py#L31
but it seems like it probably needs to be.

[2022-02-14 11:34] dpgaspar commented on #83
Right you are, this passed has six is installed with the requirements-dev. I'll make a fix and release ASAP

[2022-02-14 12:18] #83 closed, assigned to nobody

[2022-02-15 09:04] dpgaspar commented on #83
fixed and released

[2022-03-10 22:29] provtemp opened #86 "perform_request must be called with content-type header"
https://github.com/preset-io/elasticsearch-dbapi/blob/0d5a93058fc82071169f199bfae85d7b5162a12a/es/baseapi.py#L318 needs to pass a `content-type: application/json` header, otherwise no requests go through, using

[code]

[2022-03-10 22:33] provtemp opened #87 "Unclear how to get past Basic Authentication"
It is not clear to me how to query an endpoint that uses HTTP Basic Authentication. I tried

[code]

but that neither puts an `Authorization` header in the request, nor does it automatically retry with one upon receiving the `HTTP/1.1 401 Unauthorized` response, using

[code]

There should at least be an example in the documentation.

[2022-03-12 16:27] provtemp commented on #87
https://github.com/preset-io/elasticsearch-dbapi/blob/0d5a93058fc82071169f199bfae85d7b5162a12a/es/baseapi.py#L318

Removing ^ `.transport` seems to work.

[2022-03-15 21:03] provtemp opened #88 "No pagination support?"
https://github.com/preset-io/elasticsearch-dbapi/blob/7e48e57367c3b745bc640fc84d4aca4833a099ed/README.md?plain=1#L110

The »Fetch size« section of the README reads like the module does not automatically / on request use https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-pagination.html to retrieve all results and neither seems to issue a warning or exception when delivering incomp

[2022-03-23 11:29] frbenoit commented on #80
Hello, sorry for the delay, in my company we just have try this morning. We have always the issue we cannot discover the index of elasticsearch from superset. We have try to use the pluging version 0.2.8 and 0.2.9 with elasticsearch 7.16.2 and 8.1.0 but it's the same kind of issue.

[2022-03-23 14:21] paularmand commented on #80
Just tried this too with preset.io (unsure what plugin version that is) against a cloud managed elastic (elastic.co) v7.17.1 but tables list remains empty on default schema.

[2022-03-23 16:21] frbenoit commented on #80
The error that i described it's exactly the same than you Paul. In my side we are using the normal elastic not the elastic managed.

[2022-03-23 16:58] paularmand commented on #80
@dpgaspar possible to reopen this one?

[2022-03-23 17:07] vincent-imt commented on #80
FYI - the fix that was released did fix the problem for me.

[2022-03-24 07:22] frbenoit commented on #80
Wich version of the pluging are you used ? Wich version of elastic are  you used ?

[2022-04-04 13:14] tim-net opened #90 "No datastream support?"
Hello,
I tried to use datastream in Superset to create data a dataset, but Superset doesn't see datastreams created using elasticsearch rest api as a table (screenshot attached) so I cannot create a datastream. Even via superset rest api I am not able to create a dataset precising the name of datastream, it just cannot find it and fails with an error.
Elasticsearch version: 8.1.1
superset version:

[2022-05-18 10:15] Unanimad commented on #70
hello everyone!
I'm currently work in a project needing to connect the SuperSet and OpenSearch.

I forked this project and changed the opendistro for [opensearch dependencies](https://opensearch.org/docs/latest/clients/python/). It's worked well, enabled to connect, create the database and datasets, everything was perfect until the SQL aggregations for the Charts.

When the SuperSet parse a SQL st

[2022-05-29 10:32] nguyentrongquocuet commented on #70
Hi @Unanimad, I'm working on connecting Superset and Opensearch, I followed your approach by replacing elastic dependency in `es/opendistro/api.py` with the corresponding `opensearch-py`. Im using latest superset image and latest elasticsearch-dbapi, but things did not work, when i create new database, the Elastic Opendistro option disappeared from drop-down menu, only DBAPI option exists.
Can you

[2022-05-30 10:02] Unanimad commented on #70
Hello @nguyentrongquocuet,

Did you fork the elasticsearch-dbapi project? Besides that, did you create the requirements-local.txt file?

From the [Superset's documetation](https://superset.apache.org/docs/databases/docker-add-drivers/), you need to create a requeriments-local.txt file inside docker/ directory. Put in this file the project that you customized.

After that, recreate the container us

[2022-07-22 07:54] stillcoolme opened #93 "how connect es cluster with connect address list like [ip1:9200,ip2:9200,ip:9300] ?"
how connect es cluster with connect address list like [ip1:9200,ip2:9200,ip:9300] ? because connect in this way can avoid es cluster down.

[2022-07-28 14:21] dpgaspar commented on #93
This is currently not supported, you need to setup a load balancer in front of your nodes.

[2022-08-01 02:07] #93 closed

[2022-08-08 03:58] MinuraPunchihewa opened #94 "OperationalError: Error connecting to Elasticsearch: Elastic Cloud"
I am trying to connect to my Elasticsearch cluster on Elastic Cloud, but I keep getting the above error. This is the entire stack trace,

[code]
This is what my code looks like,

[code]
I have a feeling that there is something wrong with my host URL? I was able to establish a connection earlier using the `elasticsearch` package, but this was using the Cloud ID for the cluster.

Any help on this wo

[2022-09-19 13:48] almirb opened #95 "[Question] How can I query a JSON field from Superset?"
Hello!

Our OpenDistro has a field with JSON content.
How can I filter the JSON values of this field using queries in Superset?

The field looks like:
[code]
And I want to filter all rows that are belonging to Android or iOS.

PS.: In PostgreSQL, we usually filter them with:  `and my_field ->> 'browser' = 'Android'.`  But It didn't work when querying OpenDistro.

Thanks!

[2022-10-27 07:34] putianhui opened #96 "Elasticsearch version is not supported"
Hello, I use superset to connect the elastic search of 6.8.1, and the following error will be prompted
[code]
Is there an elastic search version that supports 6.8.1?

[2022-11-10 09:36] dpgaspar commented on #96
Unfortunately no, only 7.X versions are supported